:root {
  /* typography */
  font-family: Arial, Helvetica, serif;
  --light-text-color: white;
  --dark-text-color: black;
  --chip-text-color: black;

  /* colors */
  --background-color: white;
  --border-color: #DDDDDD;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --board-color: #F8F8F8;

  /* borders */
  --border-radius: 8px;
  --border-width: 2px;
  --border-width-small: 1px;
  --chip-border-radius: 1rem;

  /* paddings */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;

  /* margins */
  --margin-large: 1rem;
  --margin-xlarge: 2rem;
  --margin-tiny: 0.25rem;
  --margin-xtiny: 0.125rem;

  /* sizing */
  --card-width-desktop: 25vw;
  --card-width-mobile: 80vw;
  --card-width-tiny: 60vw;
  --button-small-width: 1.5rem;
  --button-small-height: 1.5rem;
  --button-medium-height: 2rem;
  --button-height: 4rem;
  --button-width: 4rem;
  --chip-height: 0.8rem;
  --menu-width: 10rem;

  /* div sizing */
  --full-width: 90vw;
  --80-width: 80vw;
  --full-height: 90vh;
  --half-width: 50vw;

  /* positioning */
  --right-edge: 3rem;
  --bottom-edge: 3rem;
}

.dark {
    transition: background-color 0.3s ease;

    /* Text colors */
    --light-text-color: black;
    --dark-text-color: white;

    /* Background and border colors */
    --background-color: #1a1a1a;
    --border-color: #444444;

    /* Primary color */
    --primary-color: #3498db;

    /* Secondary color */
    --secondary-color: #b0bec5;

    /* Success color */
    --success-color: #4caf50;

    /* Info color */
    --info-color: #2196f3;

    /* Warning color */
    --warning-color: #ff9800;

    /* Danger color */
    --danger-color: #e74c3c;

    /* Board color */
    --board-color: #333333;
}

* {

}

body {
  min-height: var(--full-height, 90vh);
  height: var(--full-height, 90vh);
  padding: var(--padding-large, 1.5rem);
  width:  max(var(--full-width, 90vw), fit-content);
  color: var(--dark-text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

/* START: Board */
.board {
  min-width: var(--full-width, 90vw);
  max-width: var(--full-width, 90vw);
}

.board header, .board section {
  width: var(--full-width, 90vw);
}

.boardLanes {
  max-width: var(--full-width, 90vw);
  width: var(--full-width, 90vw);
  padding: var(--padding-medium, 1rem);
  margin-top: var(--margin-large, 1rem);
  margin-right: var(--margin-large, 1rem);
  margin-left: 0;
  border-radius: var(--border-radius, 8px);
  background-color: var(--board-color, #F8F8F8);
  overflow-x: auto;
  white-space: nowrap;
  min-height: 70vh;
}
/* END: Board */

/* START: Lane */
.laneSection {
  width: fit-content;
  min-height: inherit;
  min-width: var(--card-width-desktop, 25vw);
  margin-right: var(--margin-large, 1rem);
  vertical-align: top;
  display: inline-block;
}

.laneSection div {
  width: fit-content;
}
/* END: Lane */

/* START: Chip */
.chip { 
  border-radius: var(--chip-border-radius, 1rem);
  height: var(--chip-height, 0.8rem);
  width: fit-content;
  padding: var(--padding-small, 0.5rem);
  color: var(--chip-text-color, black);
}
/* END: Chip */

/* BEGIN: Card */
.card {
  border-radius: var(--border-radius, 8px);
  border: var(--border-width, 2px);
  border-color: var(--border-color, #DDDDDD);
  border-style: solid;
  width: var(--card-width-desktop, 25vw);
  height: fit-content;
  padding: var(--padding-large, 1.5rem);
  margin: var(--margin-large, 1rem);
  background-color: var(--background-color);
    color: var(--dark-text-color);
}

.cardTitle {
  width: 100%;
  white-space: normal;
}

.cardDescription{
  width: 100%;
  white-space: normal;
}

.cardTags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-tiny, 0.25rem);
}

.cardTags custom-chip {
    margin: var(--margin-tiny, 0.25rem);
}
/* END: Card */

@media only screen and (max-width: 760px) {
  body {
    min-height: 90vh;
    height: 90vh;
    margin: 0;
    padding: var(--padding-small, 1rem);
    width: var(--full-width, 90vw);
    max-width: var(--full-width, 90vw);
  }

  /* START: Board */
  .board {
    width: var(--80-width, 80vw);
    min-width: 0;
    padding: var(--padding-small, 1rem);
  }

  .boardLanes {
    min-width: var(--full-width, 90vw);
    padding: var(--padding-medium, 1rem);
    margin-top: var(--margin-large, 1rem);
    margin-right: 0;
    margin-left: 0;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* END: Board */

  /* START: Card */
  .card {
    margin: var(--margin-large, 1rem) 0 0;
    width: var(--card-width-mobile, 70vw);
    max-width: var(--card-width-mobile, 70vw);
    min-width: var(--card-width-mobile, 70vw);
    padding: var(--padding-medium, 1rem);
  }
  /* END: Card */


  /* START: Lane */
  .laneSection {
    margin-top: var(--margin-large, 1rem);
    display: block;
  }
  /* END: Lane */

  /* START: Forms */
  form {
    width: 90%;
  }

  form input[type="text"] {
    width: 100%;
  }

  form textarea {
    min-width: 100%;
  }

  form select {
    min-width: 100%;
  }
    /* END: Forms */
}

@media only screen and (max-width: 470px) {
  body {
    min-width: 0;
    padding-left: var(--margin-xtiny);
    padding-right: var(--margin-xtiny);
  }

  /* START: Board */
  .boardLanes {
    padding: var(--padding-small);
    margin-top: var(--margin-tiny);
  }
  /* END: Board */

  /* START: Card */
  .card {
    margin: var(--margin-tiny, 1rem) 0 0;
  }
  /* END: Card */
}

/* START: Buttons */
.btn {
  align-items: center;
  appearance: none;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  border: var(--border-width-small) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: var(--button-medium-height);
  line-height: 1.5;
  padding: var(--padding-small);
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  margin: var(--margin-tiny);
  width: fit-content;
}

.deleteButton {
  border: none;
  background-color: var(--background-color);
  color: var(--danger-color);
  width: var(--button-small-width);
  height: var(--button-small-height);
  cursor: pointer;
  float: right;
}

.deleteButton svg {
  fill: var(--danger-color);
  color: var(--danger-color);
  width: var(--button-small-width);
  height: var(--button-small-height);
}

.right {
  float: right;
}

.danger {
  color: var(--danger-color);
}
/* END: Buttons */


.screen-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* START: Forms */
form {
  width: var(--half-width, 50vw);
  color: var(--dark-text-color);
  background-color: var(--background-color);
}

form * {
  margin-bottom: 1rem;
}

form input, form textarea, form select {
  border-radius : 8px;
  border: 2px solid #DDDDDD;
  width : 50vw;
  background-color : white;
  height: 1.5rem;
  resize: none;
}

#boardDescription, #taskDescription {
  resize: none;
  height: 6rem;
}

.right-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

dialog{
  max-width: 50vw;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
}

input[type="text"],
textarea,
select,
option {
  background-color: var(--background-color) !important;
  color: var(--dark-text-color) !important;
  border: 1px solid var(--border-color) !important;
}
/* END: Forms */

/* START: FAB */
.fab-container {
  position: fixed;
  bottom: var(--bottom-edge);
  right: var(--right-edge);
}

.fab {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  font-size: 1.5rem;
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  border-radius: 100%;
  cursor: pointer;

  /* thank you gpt */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.menu {
  display: none;
  position: absolute;
  bottom: calc(var(--bottom-edge) + 1.5rem);
  right: calc(var(--right-edge) - 3rem);
  background-color: var(--background-color);

  min-width: var(--menu-width);

  /* thank you gpt */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: var(--padding-small);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu ul li:hover {
  background-color: opacity(var(--background-color), 0.8);
}
/* END: FAB */
